<div class="text-center board-player" [ngStyle]="{color: battleService.currentPlayer.color}"
     *ngIf="battleService.isRunning()">
    {{battleService.currentPlayer.name}}行动
</div>
<div [ngStyle]="paddingStyle" class="board" *ngIf="battleService.isRunning()">
    <div [ngStyle]="{padding: (basicWidth -1) + 'px'}" class="square">
        <div class="rotated square"
             [ngStyle]="{width: rotatedLength + 'px', height: rotatedLength + 'px', left: -rotatedOffset + 'px'}"></div>
        <div class="rotated square"
             [ngStyle]="{width: rotatedLength + 'px', height: rotatedLength + 'px', left: rotatedOffset + 'px'}"></div>
        <div [ngStyle]="{width: basicWidth*6 + 'px'}" class="horizon"></div>
        <div [ngStyle]="{height: basicWidth*6 + 'px'}" class="vertical"></div>
        <div [ngStyle]="{padding: basicWidth + 'px'}" class="square">
            <div [ngStyle]="paddingStyle" class="square"></div>
            <div [ngStyle]="paddingStyle" class="center-mask square"
                 [ngStyle]="{top: basicWidth + 'px', width: 2*basicWidth + 'px', height: 2*basicWidth + 'px'}"></div>
        </div>
    </div>
    <ng-container *ngFor="let row of battleService.pieces; let i1=index;">
        <ng-container *ngFor="let piece of row; let i2=index;">
            <app-piece [piece]="piece" [basicWidth]="basicWidth"></app-piece>
        </ng-container>
    </ng-container>
</div>
<div [ngStyle]="paddingStyle" class="board text-center" *ngIf="!battleService.isRunning()">
    <p *ngIf="battleService.state === 'NotStarted'">点击下方按钮开始游戏</p>
    <div *ngIf="battleService.state === 'Finished'">
        <p>祝贺 <span [ngStyle]="{color: battleService.currentPlayer.color}">{{battleService.currentPlayer.name}}</span> 赢了</p>
        <p>点击下方开始按钮重新开始游戏</p>
    </div>
</div>
<div class="text-center">
    <button type="button" (click)="battleService.prepare()">开始</button>
</div>
